@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

body {
    background-color: #1b1b1b;
    color: #fdfeff;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.left-bar {
    padding-right: 10px;
    background-color: #1b1b1b;
    height: 98vh;
    border-right: 1px solid #fdfeff;
    overflow-y: scroll;
    min-width: max-content;

    display: none;
    position: absolute;
    @media (min-width: 768px) {
        display: block;
        position: static;
    }
}

.animate-in {
    animation-name: slide-in;
    animation-duration: 0.3s;
}

.animate-out {
    animation-name: slide-out;
    animation-duration: 0.3s;
}

i.navigation-button {
    @media (min-width: 768px) {
        display: none;
    }
}

@keyframes slide-in {
    from {left: -100%} to {left: 0%}
}

@keyframes slide-out {
    from {left: 0%} to {left: -100%}
}

.hidden {
    display: none;
}

a {
    color: #7a698f;
}

ul {
    li.active > a {
        color: #E67A82;
    }
}

.flex {
    display: flex;
    gap: 10px;
}

.flex-row {
    flex-direction: row;
}

.flex-apart {
    justify-content: space-between;
}

.flex-end {
    justify-content: end;
}

.flex-center {
    align-items: center;
}

.flex-grow {
    flex-grow: 1;
}

.self-end {
    align-self: end;
}

.container, .section {
    width: 100%;
}

pre {
    padding: 10px;
    white-space: pre-wrap;
}