{% import "macros.html" as macros %}

{%- if page -%}
{% set pageOrSubsection = page -%}
{% elif section -%}
{% set pageOrSubsection = section -%}
{% endif -%}

{%- set title = "OpenDream DM Reference" -%}
{%- if pageOrSubsection.path != "/" -%}
{%- endif -%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>OpenDream DM Reference</title>

    <script src="{{ get_url(path='index.js') | safe }}"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% block ogtitle %}
    <meta property="og:title" content="{{pageOrSubsection.title}}" />
    {% endblock ogtitle %}
    <meta property="og:site_name" content="OpenDream DM Reference" />
    <meta property="og:url" content="{{pageOrSubsection.permalink | safe}}" />
    <meta property="og:image" content="{{ get_url(path='favicon.png') | safe }}">
    <meta property="og:description" content="{{ pageOrSubsection.content | striptags | truncate(length=38) }}">


    <link rel="stylesheet" href="{{ get_url(path='index.css') | safe }}">

    <link rel="icon" href="{{ get_url(path='favicon.svg') | safe }}">
    <link rel="shortcut icon" href="{{ get_url(path='favicon.png') | safe }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/fontawesome.min.css" integrity="sha512-UuQ/zJlbMVAw/UU8vVBhnI4op+/tFOpQZVT+FormmIEhRSCnJWyHiBbEVgM4Uztsht41f3FzVWgLuwzUqOObKw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/brands.min.css" integrity="sha512-DJLNx+VLY4aEiEQFjiawXaiceujj5GA7lIY8CHCIGQCBPfsEG0nGz1edb4Jvw1LR7q031zS5PpPqFuPA8ihlRA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/solid.min.css" integrity="sha512-Hp+WwK4QdKZk9/W0ViDvLunYjFrGJmNDt6sCflZNkjgvNq9mY+0tMbd6tWMiAlcf1OQyqL4gn2rYp7UsfssZPA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body class="flex gap-10 px-3 safe-h-screen">
    <div>
        <div class="left-bar hidden md:block h-[100%]" id="left-bar">
            <div class="flex flex-row">
                <div class="flex flex-col justify-center">
                    <a href="{{ config.base_url | safe }}">
                        <img src="{{ get_url(path='favicon.svg') | safe }}" width=24px>
                    </a>
                </div>
                <input data-stork="ref-search" class="flex-grow m-2 pr-2" type="text" />
            </div>
            <div data-stork="ref-search-output" class="results"></div>
            <nav role="navigation" class="pr-2">
                <ul>
                    {%- block menu -%}
                    {%- set index = get_section(path="_index.md") -%}
                    {%- for subsectionPath in index.subsections | sort -%}
                        {%- set subsection = get_section(path=subsectionPath) -%}
                        {{ macros::render_subsection(currentPage=pageOrSubsection, subsection=subsection, depth=0) -}}
                    {%- endfor -%}
                    {%- endblock menu -%}
                </ul>
            </nav>
        </div>

        <section class="section">
            <div class="mt-5">
                <div class="flex flex-col gap-5">
                    <div class="flex flex-col-reverse gap-5 md:flex-row justify-between">
                        <div>{% block header %}{% endblock %}</div>
                        <div class="flex flex-row justify-between md:justify-end">
                            <img src="{{ get_url(path='favicon.svg') | safe }}" width=28px class="md:hidden">
                            <div class="flex flex-row gap-1">
                            <div class="p-1">
                                <a href="https://github.com/OpenDreamProject/OpenDream" target="_blank">
                                <i class="fa-brands fa-github fa-2xl"></i></div>
                                </a>
                            <div class="p-1 md:hidden">
                                <i class="fa-solid fa-bars fa-2xl cursor-pointer" id="navigation-button" class="cursor-pointer md:hidden"></i></div>
                            </div>
                        </div>
                    </div>
                    <div>
                    {% block content %}{% endblock %}
                    </div>

                    <div class="pt-5">
                    <hr>
                    <div class="flex flex-row justify-center pt-3"><a class="text-gray-500" href="{{macros::get_github_link(page=pageOrSubsection)}}"><i class="fa-brands fa-github text-gray-500"></i> Improve this page</a></div>
                    </div>

                </div>
            </div>
        </section>
    </div>

    <script src="https://files.stork-search.net/releases/v1.6.0/stork.js"></script>
    <script>
        stork.register("ref-search", "{{config.base_url | safe}}/search.st", {showProgress: false});
    </script>
</body>

</html>
