{% import "shortcodes.html" as sc %}

{% macro render_subsection(currentPage, subsection, depth) %}
    {%- if currentPage.ancestors | length %}
        {%- set myParent = currentPage.ancestors | last -%}
    {%- else %}
        {%- set myParent = subsection.ancestors | last %}
    {%- endif %}

    {%- set myParentSection = get_section(path=myParent, metadata_only=true) -%}

    {%- set subsectionParentUrl = subsection.ancestors | last %}
    {%- set subsectionParent = get_section(path=subsectionParentUrl, metadata_only=true) %}

    {%- set renderAll = false %}
    {%- for page in currentPage.ancestors %}
        {%- set iteratorSection = get_section(path=page, metadata_only=true) %}
            {%- if iteratorSection.path == subsectionParent.path %}
                {%- set_global renderAll = true %}
                {%- break %}
            {%- endif %}
    {%- endfor %}

    {%- if depth > 1 
        and current_path != subsection.path
        and current_path != myParentSection.path
        and current_path != subsectionParent.path
        and not renderAll %}
        {%- set class = "hidden" %}
    {%- else %} 
        {%- set class = "" %}
    {%- endif %}

    {%- set linkClass = "" %}
    {%- set firstChar = subsection.title | split(pat="") | nth(n = 1) -%}
    {%- if firstChar == "/" -%}
        {%- set class = class ~ " code-nav" %}
        {%- set linkClass = "type" %}
    {%- else %}
        {%- set class = class ~ " text-title" %}
    {%- endif -%}

    {%- set iconClass = "" -%}
    {%- if currentPage.ancestors is containing(subsection.relative_path) or current_path == subsection.path or 1 > depth -%}
        {%- set iconClass = "fa-rotate-90" -%}
    {%- endif -%}
    
    {%- set spanClass = " nav-link-inactive" -%}
    {%- if current_path == subsection.path %}
        {%- set spanClass = " nav-link-active" %}
    {%- endif -%}

    {%- set depthIndent = 20 * depth -%}
    <li class="{{class}}" data-expand-tag="{{subsection.path}}">
        <span style="padding-left: {{depthIndent}}px" class="flex flex-row{{spanClass}}">
        <span class="px-1"><i class="fa-solid fa-caret-right text-blue-300 {{iconClass}} nav-toggle cursor-pointer"></i></span>
        <a href="{{ subsection.permalink | safe }}" class="{{linkClass}}">
            {{ subsection.title }}
        </a>
        </span>
        {%- if subsection.subsections -%}
        <ul>
            {%- if subsection.extra.sort_weight -%}
                {%- set list = subsection.subsections -%}
            {%- else -%}
                {%- set list = subsection.subsections | sort -%}
            {%- endif -%}
            {%- for lowerSubPath in list -%}
                {% set prod = get_env(name="ZOLA_ENV", default="dev") != "prod" %}
                {% set lowerSubsection = get_section(path=lowerSubPath, metadata_only=prod) %}{# TODO: this is the most expensive call to get_section() we have, need to optimize to save 20s #}
                {{- self::render_subsection(currentPage = currentPage, subsection=lowerSubsection, depth=depth+1) -}}
            {%- endfor -%}
        </ul>
        {%- endif -%}

        {%- if subsection.pages -%}
            <ul>
                {%- for page in subsection.pages | sort(attribute="title") -%}
                    {{- self::render_subsection_pages(page=page, currentPage=currentPage, subsection=subsection, depth=depth, currentParent=myParentSection) -}}
                {%- endfor -%}
            </ul>
        {%- endif -%}
    </li>
{% endmacro render_subsection %}

{% macro render_subsection_pages(page, currentPage, subsection, depth, currentParent) %}
    {%- set renderAll = false %}
    {%- for page in currentPage.ancestors %}
        {%- set iteratorSection = get_section(path=page, metadata_only=true) %}
            {%- if iteratorSection.path == subsection.path %}
                {%- set_global renderAll = true %}
                {%- break %}
            {%- endif %}
    {%- endfor %}

    {%- if depth > 0
        and current_path != subsection.path
        and currentParent.path != subsection.path
        and not renderAll %}
        {%- set class = "hidden" %}
    {%- else %}
        {%- set class = "" %}
    {%- endif -%}

    {%- set spanClass = " nav-link-inactive" -%}
    {%- if current_path == page.path %}
        {%- set spanClass = " nav-link-active" %}
    {%- endif -%}

    {%- set depthIndent = 20 * (depth + 1) -%}
    <li class="text-title {{class}}">
        <span style="padding-left: {{depthIndent}}px" class="flex flex-row{{spanClass}}">
        <span><i class="fa-solid fa-minus"></i></span>
        <a href="{{ page.permalink | safe }}">
            {{ page.title }}
        </a>
        </span>
    </li>
{% endmacro %}

{% macro render_breadcrumbs(currentPage) %}
    {% set ancestorLength = currentPage.ancestors | length %}
    {% for i in range(start=2, end=ancestorLength) %}
        {% set ancestorSection = get_section(path=currentPage.ancestors[i], metadata_only=true) %}
        <a href="{{ ancestorSection.permalink | safe }}">
        {{ ancestorSection.title }}
        </a>
        {% if i != ancestorLength - 1 %}
        ->
        {% endif %}
    {% endfor %}
{% endmacro render_breadcrumbs %}

{% macro render_parent_type(page, recursive=true) %}
    {%- if page.extra.parent_type %}
        {%- set lookup = "objects" ~ page.extra.parent_type ~ "/_index.md" %}
        {%- set url = get_section(path=lookup, metadata_only=true) %}
        {%- if recursive %}
            {{- self::render_parent_type(page=url) }}
        {%- endif %}
        <a href="{{ url.permalink | safe}}" class="code-title type">{{url.title}}</a>
        <i class="fa-solid fa-arrow-left"></i>
    {%- endif -%}
{% endmacro render_parent_type %}

{% macro render_page_parent_type(page, skip_level, recursive=true) %}
    {%- if page.extra.parent_type %}
        {{- self::render_parent_type(page=page, recursive=recursive) }}
    {%- else %}
        {%- if skip_level %}
            {%- set num = page.ancestors | length %}
            {%- set sub = num - skip_level %}
            {%- set parent = page.ancestors | nth(n=sub - 1) %}
        {%- else %}
            {%- set parent = page.ancestors | last %}
        {%- endif %}
        {%- set parentSection = get_section(path=parent, metadata_only=true) %}
        {%- if recursive %}
            {{- self::render_parent_type(page=parentSection) }}
        {%- endif %}
        {%- if not parentSection.extra.skip_parent_rendering -%}
            {%- set class = "" %}
            {%- set firstChar = parentSection.title | split(pat="") | nth(n = 1) -%}
            {%- if firstChar == "/" -%}
                {%- set class = "code-title type" %}
            {%- endif %}

            <a href="{{parentSection.permalink | safe}}" class="{{class}}">{{parentSection.title}}</a>
            <i class="fa-solid fa-arrow-left"></i>
            {%- endif -%}
        {%- endif -%}
{%- endmacro render_page_parent_type %}

{% macro render_single_type(type) -%}
    {% set firstChar = type | split(pat="") | nth(n = 1) -%}
    {% if firstChar == "/" -%}
        {% set lookup = "objects" ~ type ~ "/_index.md" -%}
        {% set url = get_section(path=lookup, metadata_only=true) -%}
        <a href="{{ url.permalink | safe}}" class="code-title type">{{url.title}}</a>
    {%- else -%}
        {{type}}
    {%- endif %}
{%- endmacro render_single_type %}

{% macro render_proc_args_long(page) %}
    {% if page.extra.args %}
        <div class="border-l-2 border-gray-500 pl-3">
            <div class="text-xl">Arguments:</div>
            <div class="flex flex-col">
            {% for arg in page.extra.args %}
                <div class="pl-5">{{arg.name}}{% if arg.type %} ({{ self::render_single_type(type=arg.type)}}){% endif %}{% if arg.description %}: {{arg.description}}{% endif %}{%- if arg.od_unimplemented -%}<div class="text-sm text-red-400 border-l-2 border-red-400 pl-2 inline ml-2">Unimplemented 🏗️</div>{%- endif -%}</div>
            {% endfor %}
            </div>
        </div>
    {% endif %}
{% endmacro render_proc_args_long %}

{% macro render_inherited_procs(parent_type) %}
    {% set lookup = "objects" ~ parent_type ~ "/_index.md" %}
    {% set url = get_section(path=lookup, metadata_only=true) %}
    {% for possibleProcPageUrl in url.subsections %}
        {% set possibleProcPage = get_section(path=possibleProcPageUrl) %}
        {% if possibleProcPage.title == "proc" %}
            {% if possibleProcPage.pages | length > 0 %}
            {{ self::render_page_parent_type(page=possibleProcPage, skip_level=0, recursive=false) }}
            <div class="pl-10 flex flex-row gap-5">
            <div class="flex flex-col">
            {% endif %}
            {% for newProc in possibleProcPage.pages | sort(attribute="title") %}
                <div class="code-title"><a href="{{newProc.permalink | safe}}">/proc/{{ newProc.title }}</a>({{ self::render_proc_args_short(page=newProc) }})</div>
            {% endfor %}
            {% if possibleProcPage.pages | length > 0 %}
            </div>
            </div>
            <br>
            {% endif %}
            {% break %}
        {% endif %}
    {% endfor %}
    {% if url.extra.parent_type %}
        {{ self::render_inherited_procs(parent_type=url.extra.parent_type) }}
    {% endif %}
{% endmacro render_inherited_procs %}

{% macro render_inherited_procs_page(page) %}
    {% set parent = page.ancestors | last %}
    {% set parentSection = get_section(path=parent, metadata_only=true) %}
    {% if parentSection.extra.parent_type %}
        <h3 class="text-xl">Inherited Procs:</h3>
        {{ self::render_inherited_procs(parent_type=parentSection.extra.parent_type) }}
    {% endif %}
{% endmacro render_inherited_procs_page %}

{% macro render_inherited_vars(parent_type) %}
    {% set lookup = "objects" ~ parent_type ~ "/_index.md" %}
    {% set url = get_section(path=lookup, metadata_only=true) %}
    {% for possibleVarPageUrl in url.subsections %}
        {% set possibleVarPage = get_section(path=possibleVarPageUrl) %}
        {% if possibleVarPage.title == "var" %}
            {% if possibleVarPage.pages | length > 0 %}
                {{ self::render_page_parent_type(page=possibleVarPage, skip_level=0, recursive=false) }}
                <div class="pl-3 flex flex-row gap-5">
                    <div class="flex flex-col">
            {% endif %}
                {% for newVar in possibleVarPage.pages | sort(attribute="title") %}
                        <div class="code-title"><a href="{{newVar.permalink | safe}}">/var/{{ newVar.title }}</a></div>
                {% endfor %}
            {% if possibleVarPage.pages | length > 0 %}
                    </div>
                </div>
                <br>
            {% endif %}
            {% break %}
        {% endif %}
    {% endfor %}
    {% if url.extra.parent_type %}
        {{ self::render_inherited_vars(parent_type=url.extra.parent_type) }}
    {% endif %}
{% endmacro render_inherited_procs %}

{% macro render_inherited_vars_page(page) %}
    {% set parent = page.ancestors | last %}
    {% set parentSection = get_section(path=parent, metadata_only=true) %}
    {% if parentSection.extra.parent_type %}
        <h3 class="text-xl">Inherited Vars:</h3>
        {{ self::render_inherited_vars(parent_type=parentSection.extra.parent_type) }}
    {% endif %}
{% endmacro render_inherited_vars_page %}

{% macro render_proc_args_short(page) %}
    {%- if page.extra.args %}
        {%- for arg in page.extra.args %}
            {%- if arg.type %}{{- self::render_single_type(type=arg.type)}}/{% endif %}{{arg.name}}
            {%- if not loop.last -%}
            ,
            {% endif %}
        {%- endfor %}
    {%- endif %}
{%- endmacro render_proc_args_short %}

{% macro render_backlinks(page) %}
    {% if section.backlinks | length %}
    <div>
    <h4>See also:</h4>
    <ul>
    {% for backlink in page.backlinks %}
        <li><a href="{{backlink.permalink}}">{{backlink.title}}</a></li>
    {% endfor %}
    </ul>
    </div>
    {% endif %}
{% endmacro render_backlinks %}

{% macro render_proc_title(page, list=false) %}
<h1 class="title text-3xl">
    <div class="code-title">
    {% if page.extra.override %}
        {% set overrideText = "" %}
    {% else %}
        {% set overrideText = "/proc" %}
    {% endif %}
    {%- if not list -%}
    {{- macros::render_page_parent_type(page=page, skip_level=1) -}}
    {%- endif -%}
    {%- if list -%}
        <a href="{{page.permalink | safe}}">
    {%- endif -%}
    {{overrideText}}/{{ page.title }}
    {%- if list -%}
        </a>
    {%- endif -%}
    ({{ macros::render_proc_args_short(page=page) }})
    {% if page.extra.is_override %} <div class="text-sm text-red-500 border-l-2 border-red-400 pl-2 mt-1">Override</div>{% endif %}
    </div>
</h1>
{% endmacro render_proc_title %}

{% macro render_proc(page, list=false) %}
    <div class="flex flex-col gap-5">

    {{ macros::render_proc_args_long(page=page) }}

    {% if page.extra.return_type or page.extra.return_type_desc %}
    <div class="border-l-2 border-gray-500 pl-3">
    <div class="text-xl">Returns:</div> 
    <div class="pl-5">
        {% if page.extra.return_type %}{{ page.extra.return_type }}{% endif %}{% if page.extra.return_type and page.extra.return_type_desc %}: {% endif %}{% if page.extra.return_type_desc %} {{ page.extra.return_type_desc | linebreaksbr | markdown | safe }}{% endif %}
    </div> 
    </div>
    {% endif %}

    {% if page.extra.od_unimplemented %}
    {{ sc::render_callout(color="#f87171", 
        title="Unimplemented 🏗️", 
        body="In the OpenDream implementation of DreamMaker, this proc is marked as unimplemented.") 
    }}
    {% endif %}

    {{ page.content | safe }}

    </div>
{% endmacro %}

{% macro render_var_title(page, list=false) %}
    <h1 class="title text-3xl code-title">
        {% if page.extra.is_override %}
        {% set overrideText = "" %}
        {% else %}
        {% set overrideText = "/var/" %}
        {% endif %}
        {%- if not list -%}
        {{ macros::render_page_parent_type(page=page, skip_level=1) }}
        {%- endif -%}
        {% if list -%}
        <a href="{{ page.permalink | safe}}">
        {%- endif -%}
        {{overrideText}}{{ page.title }}{% if page.extra.is_override %} <div class="text-sm text-red-500 border-l-2 border-red-400 pl-2 mt-1">Override</div>{% endif %}
        {%- if list -%}
        </a>
        {%- endif -%}
    </h1>
{% endmacro %}

{% macro render_var(page, list=false) %}
    {% if page.extra.default_value %}
    <div class="border-l-2 border-gray-500 pl-3">
    <div class="text-xl">Default Value:</div>
    <div class="pl-5">{{ macros::render_single_type(type=page.extra.default_value) }}{% if page.extra.default_value_desc %} | {{ page.extra.default_value_desc }}{% endif %}</div>
    </div>
    {% endif %}
    
    {% if page.extra.permitted_values %}
    <div class="border-l-2 border-gray-500 pl-3">
    <div class="text-xl">Permitted Values:</div>
    <div class="pl-5">{{ page.extra.permitted_values }}</div>
    </div>
    {% endif %}
    
    {% if page.extra.type %}
    <div class="border-l-2 border-gray-500 pl-3">
    <div class="text-xl">Type:</div> 
    <div class="pl-5">{{ macros::render_single_type(type=page.extra.type) }}</div>
    </div>
    {% endif %}

    {% if page.extra.od_unimplemented %}
        {{ sc::render_callout(color="#f87171", 
            title="Unimplemented 🏗️", 
            body="In the OpenDream implementation of DreamMaker, this variable is marked as unimplemented.") 
        }}
    {% endif %}

    {{ page.content | safe }}
{% endmacro render_var %}

{% macro render_object_vars_and_procs(page) %}
{%- for path in page.subsections -%}
    {%- set pathParts = path | split(pat="/") -%}
    {%- if pathParts is containing("proc") -%}
        {{ self::render_proc_list(path=path) }}
        {%- continue -%}
    {%- endif -%}

    {%- if pathParts is containing("var") -%}
        {{ self::render_var_list(path=path) }}
        {%- continue -%}
    {%- endif -%}
{%- endfor -%}
{% endmacro %}

{% macro render_proc_list(path) %}
{%- set section = get_section(path=path) -%}
    {%- for page in section.pages | sort(attribute="title") | filter(attribute="extra.is_override", value=false) -%}
        {%- if loop.first -%}
        <div><a href="{{section.permalink | safe}}"><h4 class="code-title">/proc</h4></a>
        <div class="pl-10 flex flex-col">
        {%- endif -%}
        <div class="code-title text-sm"><a href="{{page.permalink | safe}}">/{{ page.title }}</a>({{ self::render_proc_args_short(page=page) }})</div>
        {%- if loop.last -%}
        </div></div>
        {%- endif -%}
    {%- endfor -%}
{% endmacro %}

{% macro render_var_list(path) %}
{%- set section = get_section(path=path) -%}
    {% for page in section.pages | sort(attribute="title") | filter(attribute="extra.is_override", value=false) %}
        {%- if loop.first -%}
        <div><a href="{{section.permalink | safe}}"><h4 class="code-title">/var</h4></a>
        <div class="pl-10 flex flex-col">
        {%- endif -%}
        <div class="code-title text-sm"><a href="{{page.permalink | safe}}">/{{ page.title }}</a></div>
        {%- if loop.last -%}
        </div></div>
        {%- endif -%}
    {% endfor %}
{% endmacro %}

{% macro get_github_link(page) %}
{{ config.extra.repo }}/blob/{{ config.extra.branch }}/content/{{ page.relative_path }}?plain=1
{% endmacro get_github_link %}