{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block header %}
<h1 class="title text-3xl">
    {{ macros::render_page_parent_type(page=page, skip_level=0) }} {{ page.title }}
</h1>
{% endblock header %}

{% block content %}

<div class="flex flex-col gap-5">

<div class="page-content">
{{ page.content | safe }}
{%- if not section.content | length -%}
<div class="border-l-2 border-yellow-600 pl-5">
    <div class="text-xl">Work In Progress 👷</div>
    This page doesn't have any content at the moment. You can contribute to this page <a href="{{macros::get_github_link(page=page)}}"><i class="fa-brands fa-github text-black dark:text-white"></i> here</a>.
</div>
{%- endif -%}
</div>

{{ macros::render_backlinks(page=page) }}

</div>

{% endblock content %}