{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block title %}
{%- set potentialTitle = macros::render_page_parent_type(page=page, skip_level=1, recursive=false) | striptags | trim | safe -%}
<title>{{ potentialTitle }}/{{ page.title }}() - OpenDream DM Reference</title>
{% endblock title %}

{% block ogtitle %}
{%- set potentialTitle = macros::render_page_parent_type(page=page, skip_level=1, recursive=false) | striptags | trim | safe -%}
{%- if potentialTitle == "" -%}
    {%- set potentialTitle = "global" -%}
{%- endif -%}
<meta property="og:title" content="{{page.title}} ({{ potentialTitle }} proc)" />
{% endblock ogtitle %}

{% block header %}
{{ macros::render_proc_title(page=page) }}
{% endblock header %}

{% block content %}

{{ macros::render_proc(page=page) }}

{{ macros::render_backlinks(page=page) }}

</div>

{% endblock content %}