{% macro render_callout(color, title, body=false, contents=false, icon=false, smalltext=false) %}
<div class="border-l-2 pl-5" style="border-left-color:{{color}}">
    <div class="flex flex-row"><div class="{% if not smalltext %}text-xl{% endif %}">{{title}}</div>{% if icon %}<img src="{{icon | safe}}" class="ml-1" width=20px>{% endif %}</div>

    {%- if body -%}
    {{body}}
    {%- endif -%}
    {%- if contents -%}
    <div class="pl-3">{{ contents | markdown(inline=true) | safe }}</div>
    {%- endif -%}
</div>
{% endmacro render_callout %}

{%- macro render_link(type, destination, proc=false, var=false) -%}
{%- set path = get_url(path=destination) -%}
{%- if proc -%}
    {%- set parent = destination | replace(from="_index.md", to="proc/") -%}
    {%- set lowerName = proc | lower -%}
    {%- set additionalPath = get_url(path=parent ~ lowerName ~ ".md" ) -%}
    {%- set additionalText = "/proc/" ~ proc ~ "()" -%}
{%- endif -%}
{%- if var -%}
    {%- set parent = destination | replace(from="_index.md", to="var/") -%}
    {%- set lowerName = var | lower -%}
    {%- set additionalPath = get_url(path=parent ~ lowerName ~ ".md" ) -%}
    {%- set additionalText = "/var/" ~ var -%}
{%- endif -%}
<a href="{{path}}" class="code-nav type">{{type}}</a>{%- if additionalPath -%}<a href="{{additionalPath}}" class="code-nav">{{additionalText}}</a>{%- endif -%}
{%- endmacro render_link -%}