{% macro toml_recurse(subsectionPath) -%}
{%- set subsection = get_section(path=subsectionPath) -%}
{%- if subsection.subsections -%}
    {%- for section in subsection.subsections -%}
        {{- self::toml_recurse(subsectionPath=section) -}}
    {%- endfor -%}
{%- endif -%}
[[input.files]]
path = "{{subsection.relative_path | safe}}"
title = "{{subsection.title | safe}}"
url = "{{subsection.permalink | safe}}"
{% if subsection.pages -%}
{%- for page in subsection.pages -%}
{%- set num = page.ancestors | length %}
{%- set sub = num - 1 %}
{%- set parent = page.ancestors | nth(n=sub - 1) %}
{%- set parentSection = get_section(path=parent, metadata_only=true) %}
{%- set directParent = get_section(path=page.ancestors | last, metadata_only=true) -%}
{%- if directParent.title == "proc" or directParent.title == "var" -%}
    {%- set parentTitle = parentSection.title -%}
    {%- if parentTitle == "Objects" -%}
        {%- set parentTitle = "Global" -%}
    {%- endif -%}
{%- endif -%}
{%- if directParent.title == "proc" -%}
    {%- set title = page.title ~ " (" ~ parentTitle ~ " Proc)" -%}
{%- elif directParent.title == "var" -%}
    {%- set title = page.title ~ " (" ~ parentTitle ~ " Proc)" -%}
{%- else -%}
    {%- set title = page.title | safe -%}
{%- endif -%}
[[input.files]]
path = "{{page.relative_path | safe}}"
title = "{{title | safe}}"
url = "{{page.permalink | safe}}"
{% endfor -%}
{%- endif -%}
{% endmacro toml_recurse -%}
[input]
base_directory = "content"
frontmatter_handling = "Omit"

{% set index = get_section(path="_index.md", metadata_only=true) -%}
{% for subsection in index.subsections -%}
{{ self::toml_recurse(subsectionPath=subsection) -}}
{% endfor %}