{% macro toml_recurse(subsectionPath) -%}
{%- set subsection = get_section(path=subsectionPath) -%}
{%- if subsection.subsections -%}
    {%- for section in subsection.subsections -%}
        {{- self::toml_recurse(subsectionPath=section) -}}
    {%- endfor -%}
{%- endif -%}
[[input.files]]
path = "{{subsection.relative_path | safe}}"
title = "{{subsection.title | safe}}"
url = "{{subsection.permalink | safe}}"
{% if subsection.pages -%}
{%- for page in subsection.pages -%}
[[input.files]]
path = "{{page.relative_path | safe}}"
title = "{{page.title | safe}}"
url = "{{subsection.permalink | safe}}"
{% endfor -%}
{%- endif -%}
{% endmacro toml_recurse -%}
[input]
base_directory = "content"
url_prefix = "{{config.base_url | safe }}"

{% set index = get_section(path="_index.md") -%}
{% for subsection in index.subsections -%}
{{ self::toml_recurse(subsectionPath=subsection) -}}
{% endfor %}