{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block title %}
<title>{{ macros::render_page_parent_type(page=section, skip_level=0, recursive=false) | striptags | trim | safe }} vars - OpenDream DM Reference</title>
{% endblock title %}

{% block ogtitle %}
<meta property="og:title" content="{{ macros::render_page_parent_type(page=section, skip_level=0, recursive=false) | striptags | trim | safe }} vars" />
{% endblock ogtitle %}

{% block header %}
<h1 class="title text-3xl">{{ macros::render_page_parent_type(page=section, skip_level=0) }} {{ section.title }}</h1>
{% endblock header %}

{% block content %}

<div class="flex flex-col gap-5">

{% for page in section.pages | sort(attribute="title") %}
    <div class="border-2 border-white p-5">
        <div class="flex flex-col gap-3">
            {{ macros::render_var_title(page=page, list=true) }}
            {{ macros::render_var(page=page, list=true) }}
        </div>
    </div>
{% endfor %}

<div>
{{ macros::render_inherited_vars_page(page=section) }}
</div>

</div>

{% endblock content %}