/*
This file should be edited in styles/index.css, and *not* static/index.css
*/

@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #1b1b1b;
    color: #fdfeff;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    word-break: break-word;
}

.left-bar {
    background-color: #1b1b1b;
    border-right: 1px solid #fdfeff;
    overflow-y: auto;
    overflow-x: hidden;
    min-width: max-content;

    position: absolute;
}

@media (min-width: 768px) {
    .left-bar {
        position: static;
    }
}

.animate-in {
    animation-name: slide-in;
    animation-duration: 0.3s;
}

.animate-out {
    animation-name: slide-out;
    animation-duration: 0.3s;
}

@keyframes slide-in {
    from {
        left: -100%;
    }

    to {
        left: 0%;
    }
}

@keyframes slide-out {
    from {
        left: 0%;
    }

    to {
        left: -100%;
    }
}

.hidden {
    display: none;
}

a {
    color: #7a698f;
}

a>i {
    color: #fdfeff;
}

.type {
    color: #70c3af;
    text-decoration: dotted;
}

input[type="text"] {
    border-radius: 4px;
}

.stork-output-visible {
    position: absolute;
    background: #1b1b1b;
    padding: 5px;
    border: 1px solid #fdfeff;
    max-width: 100%;
    z-index: 10;
}

@media (min-width: 768px) {
    .stork-output-visible {
        max-width: 50%;
    }
}

.stork-excerpt {
    border: 1px solid #fdfeff;
    padding-left: 10px;
}

.stork-result {
    text-decoration: none;
    padding-left: 5px;
}

.stork-close-button {
    display: none;
}

.stork-attribution {
    display: none;
}

.container,
.section {
    width: 100%;
}

.section {
    overflow: auto;
}

pre {
    padding: 10px;
    white-space: pre-wrap;
}

input {
    color: #1b1b1b;
}

code,
pre {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.code-title {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.code-nav {
    font-size: 20px;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.text-title {
    font-size: 24px;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.text-title a {
    padding-left: 4px;
}

@media (min-width: 768px) {
    .text-title {
        font-size: 16px;
    }

    .code-nav {
        font-size: 14px;
    }
}

:not(pre)>code {
    background-color: #343434;
    border-radius: 0.25rem;
    padding: 3px;
}

/* Override Tailwind being awful and annoying */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: revert;
    font-weight: revert;
}

.section {
    ol, ul, menu {
        list-style: revert;
        padding: revert;
    }
}

.safe-h-screen {
    /* equivalent to 100dvh in major browsers */
    height: calc(100vh - env(safe-area-inset-bottom, 0) - env(safe-area-inset-top, 0));
}

@supports (-webkit-touch-callout: none) {
    .min-safe-h-screen {
        /* for ios safari 15, safe-area-inset-bottom is 0, so a special fix apply here */
        height: -webkit-fill-available;
    }
}

.nav-link-inactive {
    transition: background-color 0.2s;
}

.nav-link-inactive:hover {
    background-color: #fdfeff23;
    border-radius: 2px;
}

.nav-link-active {
    background-color: #fdfeff23;
    border-radius: 2px;
}

.zola-anchor > svg {
    display: inline;
}

.zola-anchor {
    fill: white;
    display: none;
}

*:hover > .zola-anchor {
    display: inline;
}