/*
This file should be edited in styles/index.css, and *not* static/index.css
*/

@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    pre {
        @apply dark:shadow-lg shadow-md
    }
}

:root {
    --light-bg: #fafafa;
    --light-text: #383838;
    --light-accent: #fff;
    --light-border: #E5E5E5;
    --light-link: #A020D3;
    --light-link-hover: #2653CE;
    --light-type: #417D96;
    --light-code: #e4e4e4;
    --light-hover: #4444444c;
    --dark-bg: #1b1b1b;
    --dark-text: #fdfeff;
    --dark-accent: #1E1E1E;
    --dark-border: #2B2B2B;
    --dark-link: #BC89BD;
    --dark-link-hover: #7594E5;
    --dark-type: #71C6B1;
    --dark-code: #343434;
    --dark-hover: #fdfeff23;
}

body {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    word-break: break-word;
}

body {
    background-color: var(--light-bg);
    color: var(--light-text);
}

.dark body {
    background-color: var(--dark-bg);
    color: var(--dark-text);
}

.left-bar {
    border-right: 1px solid;
    overflow-y: auto;
    overflow-x: hidden;
    min-width: max-content;

    position: absolute;
}

.left-bar {
    background-color: var(--light-bg);
    border-right-color: var(--light-border);
}

.dark .left-bar {
    background-color: var(--dark-bg);
    border-right-color: var(--dark-border);
}

@media (min-width: 768px) {
    .left-bar {
        position: static;
    }
}

.animate-in {
    animation-name: slide-in;
    animation-duration: 0.3s;
}

.animate-out {
    animation-name: slide-out;
    animation-duration: 0.3s;
}

@keyframes slide-in {
    from {
        left: -100%;
    }

    to {
        left: 0%;
    }
}

@keyframes slide-out {
    from {
        left: 0%;
    }

    to {
        left: -100%;
    }
}

.hidden {
    display: none;
}

a {
    color: var(--light-link);
}

.dark a {
    color: var(--dark-link);
}

.dark .subtle-link {
    color: rgb(107 114 128);
}

.type {
    text-decoration: dotted;
    color: var(--light-type);
}

.dark .type {
    color: var(--dark-type);
}

.light a:hover {
    color: var(--light-link-hover);
    text-decoration: underline;
}

.dark a:hover {
    color: var(--dark-link-hover);
}

input.text-input {
    border: 1px solid var(--light-border);
    border-radius: 4px;
}

.dark input.text-input {
    border-color: var(--dark-border);
    background-color: var(--dark-accent);
    color: var(--dark-text)
}

.stork-output-visible {
    position: absolute;
    background: var(--light-bg);
    padding: 5px;
    border: 1px solid var(--light-border);
    border-radius: 0.25rem;
    max-width: 100%;
    z-index: 10;
}

.dark .stork-output-visible {
    background: var(--dark-accent);
    border-color: var(--dark-border);
}

@media (min-width: 768px) {
    .stork-output-visible {
        max-width: 50%;
    }
}

.stork-title {
    word-break: normal;
}

.stork-result>a {
    display: flex;
    flex-direction: row;
}

.stork-excerpt-container {
    display: none;
    position: fixed;
    padding: 0.25rem;
    margin-left: 15%;
    margin-bottom: 15%;
    width: 25%;
    border: 1px solid var(--light-border);
    border-radius: 0.25rem;
    background-color: var(--light-accent);
}

.selected>a>.stork-excerpt-container {
    display: block;
}

.stork-excerpt-container {
    text-decoration: none !important;
    color: var(--light-text) !important;
}

.dark .stork-excerpt-container {
    color: var(--dark-text) !important;
}

.stork-excerpt {
    display: none;
}

.stork-excerpt:first-of-type {
    display: block
}

.dark .stork-excerpt-container {
    border-color: var(--dark-border);
    background-color: var(--dark-accent)
}

.stork-result {
    text-decoration: none;
    padding-left: 5px;
}

.stork-close-button {
    display: none;
}

.stork-attribution {
    display: none;
}

.container,
.section {
    width: 100%;
}

.section {
    overflow: auto;
}

pre {
    padding: 10px;
    white-space: pre-wrap;
    border: solid 1px var(--light-border);
    border-radius: 0.25rem;
}

.dark pre {
    border-color: var(--dark-border);
}

code,
pre,
.code-title,
.code-nav {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.text-title {
    font-size: 24px;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.text-title a {
    padding-left: 4px;
}

@media (min-width: 768px) {
    .text-title {
        font-size: 16px;
    }

    .code-nav {
        font-size: 14px;
    }
}

:not(pre)>code {
    background-color: var(--light-code);
    border-radius: 0.25rem;
    padding: 3px;
}

.dark :not(pre)>code {
    background-color: var(--dark-code);
}

/* Override Tailwind being awful and annoying */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: revert;
    font-weight: 500;
}

hr {
    border-top: 2px solid var(--light-border)
}

.dark hr {
    border-top-color: var(--dark-border);
}

.page-content {

    ol,
    ul,
    menu {
        list-style: revert;
        padding: revert;
    }

    h1,
    h2 {
        border-bottom: 2px solid var(--light-border);
    }
}

.dark .page-content {

    h1,
    h2 {
        border-bottom: 2px solid var(--dark-border);
    }
}

.safe-h-screen {
    /* equivalent to 100dvh in major browsers */
    height: calc(100vh - env(safe-area-inset-bottom, 0) - env(safe-area-inset-top, 0));
}

@supports (-webkit-touch-callout: none) {
    .min-safe-h-screen {
        /* for ios safari 15, safe-area-inset-bottom is 0, so a special fix apply here */
        height: -webkit-fill-available;
    }
}

.nav-link-inactive {
    transition: background-color 0.2s;
}

.nav-link-inactive:hover {
    background-color: var(--light-hover);
    border-radius: 2px;
}

.dark .nav-link-inactive:hover {
    background-color: var(--dark-hover);
}

.nav-link-active {
    background-color: var(--light-hover);
    border-radius: 2px;
}

.dark .nav-link-active {
    background-color: var(--dark-hover);
}

.zola-anchor>svg {
    display: inline;
}

.zola-anchor {
    fill: white;
    display: none;
}

*:hover>.zola-anchor {
    display: inline;
}

.page-content {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

#theme-switch>.fa-moon {
    display: none;
}

.dark #theme-switch>.fa-moon {
    display: inline;
}

.dark #theme-switch>.fa-sun {
    display: none;
}